html,
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-repeat:no-repeat;
  overflow: hidden;
}

body {
  font-family: "Lato", sans-serif;
  background: rgb(164, 196, 218);
  background: linear-gradient(360deg,
      rgba(164, 196, 218, 1) 0%,
      rgba(206, 228, 242, 1) 90%,
      rgba(230, 245, 255, 1) 100%);
  font-size: 1.5rem;
}

main {
  padding-top: 50px;
  background-color: #ffffff91;
  height: calc(100vh - 50px);
  display: flex;
}