@import './variables.scss';

.formulario {
    height: 100%;
    display: flex;
    flex-direction: column;

    button {
        margin-top: auto;
    }

    >div {
        >div {
            margin: 1% 2% 2% 0px;
        }
    }
}