@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Farro&display=swap');

$primaryColor: #9f9fa7da;
$SColor: #0f4098;
$borderRadius: 7px;


/* Fonts */
$SourceSans: "Source Sans Pro", sans-serif;
$Montserrat: "Montserrat", sans-serif;
$OpenSans: "Open Sans", sans-serif;
$GreatVibes :"Great Vibes", cursive;
$Farro: 'Farro', sans-serif;
$titleFont: 'Farro', sans-serif;
$textFont: "Montserrat", sans-serif;
$radius: 12px;